<div>
    <form asp-controller="Account" asp-action="Register">
        <input type="text" placeholder="Username" name="username"/>
        <input type="password" placeholder="Password" name="password"/>
        <button type="submit">Register</button>
    </form>
</div>